
$primary-color: #FFCC00;
$secondary-color: #FFFFFF;
$text-color: #333333;
$gray-color: #666666;


$font-primary: 'Roboto', serif;
$font-secondary: 'Raleway', serif;
$font-tertiary: 'Open Sans', serif;

$line-height: 1.9;
$border-radius: 2px;


$container-width: 1070px;
$gap: 10px;
$margin-top-bottom: 121px;